/* custom font */
@font-face {
    font-family: "PM Font";
    src: url("./assets/font/pmdialog.ttf");
}


html {
    height: 100%;
}


body {
    background: linear-gradient(
            rgba(34, 34, 34, 0.9),
            rgba(15, 15, 15, 0.9)
        ),
        black url(./assets/pic/bg.png) repeat;

    color: black;
    font-family: Calibri;
    font-size: 14px;

    margin: 0;
}


.tracker-container {
    background: linear-gradient(
            rgba(132, 255, 116, 0.4), 
            rgba(0, 66, 3, 0.4)
        ),
        black url(./assets/pic/bg.png) repeat;

    font-family: PM Font, Calibri; /* custom font */
    font-size: 14px;

    display: grid;
    justify-content: center;
    grid-template-columns: 320px 320px;
    grid-template-rows: 44px 174px 250px;
    gap: 10px;

    padding: 12px;
    margin: 0;
    border-radius: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:0;
}


.collectables-container {
    background: linear-gradient(
            rgba(142, 223, 255, 0.4),
            rgba(24, 78, 114, 0.4)
        ),
        black url(./assets/pic/bg.png) repeat;
    
    grid-row-start: 1;
    grid-row-end: 4;

    grid-column-start: 1;
    grid-column-end: 1;

    border: 2px solid rgba(95, 95, 95, 0.7);
    border-radius: 8px;
}


.upgrade-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 32px);
    grid-auto-rows: 32px;

    padding: 4px;
}


.partner-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 32px);
    grid-auto-rows: 32px; 

    padding: 4px;
}

.ch1-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px;
    padding: 4px;
}

.ch2-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px;
    padding: 4px;
}

.ch3-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px;
    padding: 4px;
	text-align: center;
}

.ch4-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px;
    padding: 4px;
}

.ch5-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px;
    padding: 4px;
}

.ch6-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px;
    padding: 4px;
}

.ch7-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px;
    padding: 4px;
}

.misc-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: 32px 32px 32px;
    padding: 4px;
}


.counter-container {
    background: linear-gradient(
            rgba(142, 223, 255, 0.4),
            rgba(24, 78, 114, 0.4)
        ),
        black url(./assets/pic/bg.png) repeat;

    grid-row-start: 1;
    grid-row-end: 1;

    grid-column-start: 2;
    grid-column-end: 2;
    
    line-height: 30px;
    text-align: center;
    user-select: none;

    display: grid;
    justify-content: left;
    grid-template-columns: 220px 80px;
    grid-auto-rows: 32px;

    padding: 4px;
    border: 2px solid rgba(95, 95, 95, 0.7);
    border-radius: 8px;
}


.logic-container {
    background: linear-gradient(
            rgba(142, 223, 255, 0.4),
            rgba(24, 78, 114, 0.4)
        ),
        black url(./assets/pic/bg.png) repeat;

    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 2;

    line-height: 30px;
    text-align: center;
    user-select: none;

    display: grid;
    justify-content: left;
    grid-template-columns: 240px 32px;
    grid-auto-rows: 22px;

    padding: 4px;
    border: 2px solid rgba(95, 95, 95, 0.7);
    border-radius: 8px;
}


.defense-container {
    background: linear-gradient(
            rgba(142, 223, 255, 0.4),
            rgba(24, 78, 114, 0.4)
        ),
        black url(./assets/pic/bg.png) repeat;

    grid-row-start: 3;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end: 2;

    line-height: 22px;
    text-align: center;
    user-select: none;

    display: grid;
    justify-content: left;
    grid-template-columns: 320px;
    grid-auto-rows: 22px;

    padding: 4px;
    border: 2px solid rgba(95, 95, 95, 0.7);
    border-radius: 8px;
}
